<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/commonhead.ejs') %>
  <title>CSE 19b</title>
</head>
<body>
  <%- include('../partials/topbar.ejs') %>
  <%- include('../partials/leftbar') %>
  <div class="page-container">
    <div class="page-area gradient-to-b">
      <div class="relative">
        <div class="relative h-[calc(100vh-80px)] rounded-tl-2xl overflow-hidden">
          <img src="/images/we.jpg" alt="" class="absolute w-full h-[100%] inset-0 -z-0 object-center object-cover">
          <div class="absolute w-full h-[100%] inset-0 bg-gradient-to-b from-black/60 via-transparent to-black z-10"></div>
        </div>

        <div class="absolute inset-0 flex flex-col justify-start items-center z-50 pt-10">
          <h1 class="text-5xl drop-shadow-md font-bold">Welcome, <span class="text-indigo-300"><%- userInfo.username %></span></h1>
          <h1 class="text-2xl drop-shadow-2xl"><%- userCount - 1 %> people have joined.</h1>

          <form action="" method="post" class="w-[600px] p-4 rounded-xl backdrop-blur backdrop-brightness-50 mt-10 flex flex-col justify-center items-center gap-4 shadow-xl">
            <div class="flex flex-col justify-center items-center">
              <h2 class="text-xl font-semibold">Enter Join Code</h2>
              <% if(msg) { %>
                <div id="errorMsg">
                  <span class="text-red-500 font-semibold"><%- msg %></span>
                </div>
                <script>
                  console.log("object")
                </script>
              <% } %>
            </div>
            <input type="text" name="join_code" class="bg-white/90 text-gray-700 border-none w-[500px] h-12 rounded font-semibold text-lg text-center mt-2" placeholder="Code">
            <button class="bg-indigo-500 text-white w-[500px] py-2 rounded" type="submit">JOIN</button>
            <div class="w-[500px] pb-4">
              <span class="text-indigo-200 font-semibold">Note: </span> Check messenger group or Ask CR for joining code
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>