<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../../partials/commonhead.ejs') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>CSE 19b</title>
</head>
<body>
  <%- include('../../../partials/topbar.ejs') %>
  <%- include('../../../partials/leftbar') %>
  <div class="page-container">
    <div class="page-area gradient-circular rounded-tl-2xl">
      <div class="flex flex-col justify-start items-start gap-4">
        <div class="w-full">
          <div class="flex justify-start gap-4 items-center mb-2">
            <button class="text-2xl font-semibold" onclick="window.history.back()">
              <i class="fa-solid fa-arrow-left"></i>
            </button>
            <h1 class="text-2xl font-semibold">Edit Event</h1>
          </div>

          <% if(message){ %>
            <div class="w-full flex justify-center items-center" id="message-show">
              <div class="<%= success === true ? "bg-green-400/30 text-green-200" : "bg-red-500/30 text-red-200" %> px-5 py-2 rounded-md shadow-md">
                <%= message %>
              </div>
            </div>
            <script>
              setTimeout(() => {
                document.getElementById("message-show").remove();
              }, 3000)
            </script>
          <% } %>


          <div class="w-full flex flex-col justify-center items-center gap-4">
            <h1 class="text-xl font-semibold">Update Event Info</h1>
            <form action="" id="create_event" class="flex flex-col justify-start items-start gap-2" method="post">
              <div class="flex flex-col justify-start items-start gap-1">
                <label for="title">Event Title :</label>
                <input type="text" name="title" id="title" value="<%= event.title %>" class="bg-white/30 px-3 py-1.5 rounded-lg w-[350px]" />
              </div>
              <div class="flex flex-col justify-start items-start gap-1">
                <label for="description">Description :</label>
                <textarea name="description" id="description" class="bg-white/30 px-3 py-1.5 rounded-lg w-[350px]"><%= event.description %></textarea>
              </div>
              <div class="flex flex-col justify-start items-start gap-1">
                <label for="eventDate">Event Date :</label>
                <input type="date" name="eventDate" value="<%= event.date %>" id="eventDate" class="bg-white/30 px-3 py-1.5 rounded-lg w-[350px]" />
              </div>
              <div class="flex flex-col justify-start items-start gap-1">
                <label for="eventTime">Event Time :</label>
                <input type="time" name="eventTime" value="<%= event.time %>" id="eventTime" class="bg-white/30 px-3 py-1.5 rounded-lg w-[350px]" />
              </div>
              <div class="flex flex-col justify-start items-start gap-1">
                <label for="eventLocation">Room No : <span class="text-gray-400">(Optional)</span></label>
                <input type="text" name="eventLocation" value="<%= event.location %>" id="eventLocation" class="bg-white/30 px-3 py-1.5 rounded-lg w-[350px]" />
              </div>
              <div class="flex justify-start items-center gap-1">
                <input type="checkbox" class="h-4 w-4" id="bal" /> 
                <label for="" class="text-lg">Associate a Class</label>
              </div>

              <div class="w-full transition-all duration-150 ease-in" id="bal_container" style="display: none;">
                <div class="w-full">
                  <select name="abcd" class="bg-white/30 px-3 py-1.5 rounded-lg w-[350px]">
                    <option value="id" class="text-gray-700">Friday</option>
                    <option value="dt" class="text-gray-500">Fytryretyriday</option>
                    <option value="idytry" class="text-gray-500">Fryrtyriday</option>
                    <option value="irted" class="text-gray-500">Frirtyrday</option>
                    <option value="iyed" class="text-gray-500">Fridyeray</option>
                  </select>
                </div>
              </div>
              <button type="submit" class="bg-gradient-to-tr from-indigo-500 to-indigo-600 px-3 py-2 rounded-lg w-[350px] text-lg font-semibold transition-all duration-150 ease-in">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/ManipulateDOM.js"></script>

</body>
</html>